/* COLORS */
$black: black;
$white: white;
$primary-green: #146356;
$secondary-green: #464e2e;
$primary-brown: #966c3b;
$secondary-brown: #876445;
$g3-life: #85c236;
$mango-chapel: #db2b39;
$mango-chapel: #ecaa00;
